// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Calibri";
}
.ui.vertical.menu {
  padding-top: 40px;
  height: 80% !important;
}
.ui.fixed.transparent.main.menu {
  width: 100%;
  z-index: 9999;
  border-radius: 0 !important;
  margin: 0 !important;
  top: 0;
  left: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.ui.top.sidebar.active {
  top: 43px;
  left: 75%;
  height: 75px !important;
  .menu {
    padding-top: 3px;
    border-radius: 0 0 5px 5px !important;
  }

}
.ui.fsidebar.wide {
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
  margin-top: 58px !important;
  margin-left: 15px !important;
  position: fixed;
  height: 100% !important;
  border-radius: 0px !important;
  box-sizing: border-box;
  overflow-y: auto;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 380px;
  transition: margin-left 0.3s ease 0s, margin-top 0.3s ease 0s;
  .menu {
    border-radius: 0px !important;
    padding-top: 5px;
    width: 97%;
    overflow-y: hidden;
    height: 93% !important;
    width: 100%;
    .input {
      width: 100%;
      padding: 0 0 0 0 !important;
      margin-bottom: 0px !important;
      margin-top: 0px !important;
      border-width: 0 !important;
      input {
        border-width: 0 !important;
      }
    }
    .item {
      border-bottom: 1px solid #EDECE4;
      padding: 10px 5px 10px 20px !important;
      strong {
        font-size: 20px;
      }
      div:not(.input) {
        margin-bottom: 15px !important;
        margin-top: 15px !important;
      }
    }
    .menu {
      overflow-y: scroll;
    }
  }
}
.content{
  background-color: White;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.2);
  height: 95%;
  padding: 20px 20px;
  margin-left: 382px;
}
body, html {
  height: 97%;
  padding: 25px 5px 5px 5px;
  background-color: #EDECE4;
}
tr.up {
  -moz-transform: translateX(0px) translateY(-50px);
  -webkit-transform: translateX(0px) translateY(-50px);
  -o-transform: translateX(0px) translateY(-50px);
  -ms-transform: translateX(0px) translateY(-50px);
  transform: translateX(0px) translateY(-50px);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
