body, html {
  height: 97%;
  padding: 25px 5px 5px 5px;
  background-color: #EDECE4;
}
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Calibri";
}

.ui.vertical.menu {
  padding-top: 40px;
  height: 80% !important;
}

.ui.fixed.transparent.main.menu {
  width: 100%;
  z-index: 9999;
  border-radius: 0 !important;
  margin: 0 !important;
  top: 0;
  left: 0;
}

ul#wmd-button-row {
  margin-top: 40px;
  padding-left: 38px;
}

#wmd-input, .left.panel {
  margin-top: 80px !important;
}

#wmd-button-row {
  background-color: #5C5C5C !important;
}

.ui.top.sidebar.active {
  top: 78px;
  left: 80%;
  height: 75px !important;
}
.ui.top.sidebar.active .menu {
  padding-top: 3px;
  border-radius: 0 0 5px 5px !important;
}

.ui.fsidebar.wide {
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
  margin-top: 58px !important;
  margin-left: 15px !important;
  position: fixed;
  height: 100% !important;
  border-radius: 0px !important;
  box-sizing: border-box;
  overflow-y: auto;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 380px;
  transition: margin-left 0.3s ease 0s, margin-top 0.3s ease 0s;
}
.ui.fsidebar.wide .menu {
  border-radius: 0px !important;
  padding-top: 5px;
  width: 97%;
  overflow-y: hidden;
  height: 93% !important;
  width: 100%;
}
.ui.fsidebar.wide .menu .input {
  width: 100%;
  padding: 0 0 0 0 !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  border-width: 0 !important;
}
.ui.fsidebar.wide .menu .input input {
  border-width: 0 !important;
}
.ui.fsidebar.wide .menu .item {
  border-bottom: 1px solid #EDECE4;
  padding: 10px 5px 10px 20px !important;
}
.ui.fsidebar.wide .menu .item strong {
  font-size: 20px;
}
.ui.fsidebar.wide .menu .item div:not(.input) {
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}
.ui.fsidebar.wide .menu .menu {
  overflow-y: scroll;
}

.content {
  background-color: White;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
  height: 95%;
  padding: 20px 20px;
  margin-left: 382px;
}
