lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
public/css/main.css
/.idea/
/lib/config.js
/nodemon.json
/OpenCubes.njsproj
/.settings/
/public/css/main.css.map
/src/config.coffee
