@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bubble:before {
	content: "\62";
}
.icon-bubbles:before {
	content: "\42";
}
.icon-user:before {
	content: "\75";
}
.icon-search:before {
	content: "\51";
}
.icon-zoom-in:before {
	content: "\2b";
}
.icon-zoom-out:before {
	content: "\2d";
}
.icon-expand:before {
	content: "\58";
}
.icon-contract:before {
	content: "\78";
}
.icon-key:before {
	content: "\6b";
}
.icon-lock:before {
	content: "\6c";
}
.icon-equalizer:before {
	content: "\65";
}
.icon-eye:before {
	content: "\35";
}
.icon-eye-blocked:before {
	content: "\38";
}
.icon-star:before {
	content: "\73";
}
.icon-star2:before {
	content: "\53";
}
.icon-play:before {
	content: "\70";
}
.icon-info:before {
	content: "\69";
}
.icon-spam:before {
	content: "\21";
}
.icon-enter:before {
	content: "\36";
}
.icon-code:before {
	content: "\63";
}
.icon-share:before {
	content: "\26";
}
.icon-mail:before {
	content: "\6d";
}
.icon-google-plus:before {
	content: "\67";
}
.icon-facebook:before {
	content: "\66";
}
.icon-twitter:before {
	content: "\74";
}
.icon-feed:before {
	content: "\46";
}
.icon-youtube:before {
	content: "\79";
}
.icon-github:before {
	content: "\6f";
}
.icon-wordpress:before {
	content: "\77";
}
.icon-tux:before {
	content: "\24";
}
.icon-apple:before {
	content: "\61";
}
.icon-android:before {
	content: "\72";
}
.icon-windows8:before {
	content: "\57";
}
.icon-stackoverflow:before {
	content: "\3d";
}
.icon-chrome:before {
	content: "\2a";
}
.icon-firefox:before {
	content: "\f9";
}
.icon-css3:before {
	content: "\b5";
}
.icon-html5:before {
	content: "\68";
}
.icon-IE:before {
	content: "\2f";
}
.icon-opera:before {
	content: "\4f";
}
.icon-safari:before {
	content: "\23";
}
.icon-IcoMoon:before {
	content: "\32";
}
.icon-file-zip:before {
	content: "\7a";
}
.icon-file-xml:before {
	content: "\3a";
}
.icon-file-css:before {
	content: "\30";
}
.icon-image:before {
	content: "\64";
}
.icon-bullhorn:before {
	content: "\a7";
}
.icon-home:before {
	content: "\a3";
}
.icon-pencil:before {
	content: "\50";
}
.icon-tag:before {
	content: "\e9";
}
.icon-folder:before {
	content: "\a8";
}
.icon-history:before {
	content: "\e8";
}
.icon-box-add:before {
	content: "\76";
}
.icon-box-remove:before {
	content: "\5e";
}
.icon-undo:before {
	content: "\3c";
}
.icon-redo:before {
	content: "\37";
}
.icon-checkmark-circle:before {
	content: "\56";
}
.icon-blocked:before {
	content: "\7b";
}
.icon-cart:before {
	content: "\e0";
}
.icon-cart2:before {
	content: "\20ac";
}
.icon-remove:before {
	content: "\7e";
}
.icon-code-fork:before {
	content: "\a4";
}
.icon-star:before {
	content: "\e600";
}
