<div class="ui form segment">
  <div class="field">
    <label>Username</label>
    <div class="ui left labeled icon input">
      <input placeholder="Username" type="text">
      <i class="user icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Password</label>
    <div class="ui left labeled icon input">
      <input type="password">
      <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="ui blue submit button">Login</div>
</div>
<script src="bower_components/fancyInput/fancyInput.js"></script>
<link href="bower_components/fancyInput/fancyInput.js" rel="stylesheet"></script>
