<div class="ui grid">
            <div class="row">
                <div class="column">
                    <div class="ui huge message page grid center aligned">
                      <br />
                        <h1 class="ui huge header">Welcome to your dashboard</h1>
                        <p>
                          This is where you are going to edit, manage, delete, add mods.
                          To get started, just select one of your mod on the left hand side,
                          or if you don't have uploaded any mod yet, click on the button below.
                          Apart from editing mods, select the statitics section. There, you can the evolution of your mod views and downloads. Try it!
                        </p>
                        <a class="ui green button">Upload a new mod</a>
                        <br />
                    </div>
                </div>
            </div>
        </div>
