
<div class="wmd-panel input-panel">
    <div id="wmd-button-bar"></div>
    <textarea class="wmd-input" id="wmd-input">
{{mod.body}}
    </textarea>
</div>
<div class="left panel">
    <div class="ui vertical divider">
        <a href="#" id="collapse">
            <i class="right arrow icon"></i>
        </a>
    </div>
    <div id="wmd-preview" class="wmd-panel wmd-preview">
    </div>
</div>
<script src="bower_components/pagedown-semantic-ui/pagedown.min.js"></script>
<link rel="stylesheet" href="bower_components/pagedown-semantic-ui/style.css" />
<div class="ui wide top sidebar">
<div class="ui large teal inverted menu" id="save-navbar">
<div class="ui item">
<div class="ui secondary labeled icon button">
    <i class="save icon"></i>
  Save
</div>
<div class="ui primary labeled icon button">
  <i class="globe icon"></i>
  Publish
</div>
</div>
</div>
</div>
