<div class="ui green right floated  icon button add-version" ng-class="labeled: versions.length"><i class="plus icon"></i>{{ versions.length === 0 ? "Add a new version" : "" }}</div>
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    New version
  </div>
  <div class="content">
    <div class="left"></div>
    <div class="right">
      Please enter the new version name. 
      It must follow this pattern <pre>minecraft.supported.version#major.minor.patch</pre>
      where the second version (after the #) corresponds to your mod version following semver. <br />
      <div class="large ui input"><input id="new-version-name" /></div>
    </div>
  </div>
  <div class="actions">
    <div class="ui negative button">Cancel</div>
    <div class="ui positive button">Create</div>
  </div>
</div>
<table class="ui table segment" ng-repeat="version in versions">
  <thead>
    <tr>
      <th>{{version.name}}</th>
      <th>UID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="file in version.files" data-uid="{{file.uid}}">
      <td>{{file.path}}</td>
      <td>{{file.uid}}</td>
      <td>
        <div class="ui labeled icon basic small button" ng-click="delete(file.uid, $event)">
          <div class="ui text shape">
            <div class="sides">
              <div class="active ui header side"><i class="trash icon"></i></div>
              <div class="ui header side"><i class="undo icon"></i></div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr >
      <td class="ui small input"><input type="text" ng-model="forms[version.name].path" /> </td>
      <td><input type="file" id="file-{{version.name.replace('#', '_')}}"/> </td>
      <td>
        <div class="ui labeled icon basic small button" ng-click="upload(version.name, $event)">
          <i class="upload cloud icon"></i>
          Upload!
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="3">
        <div class="ui blue labeled icon button"><i class="user icon"></i> Add a file</div>
      </th>
    </tr>
  </tfoot>
</table>
